/* Default rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

/* Debugs */

.main-header {
    background-color: red;
}

.header-row.debug {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-col.debug {
    min-height: 100px;
    background-color: yellow;
    border: dashed black 5px;

}

.header-row:nth-child(2) {
    flex-grow: 1;
}
 