/* Default rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* header */
.main-header {
padding: 10px;
}
.header-row {
    display: flex;
    justify-content: space-between;
}
.header-col {
    text-align: center;
    display: flex;
}

.header-row ul {
    flex-grow: 1;
}

/* MAIN */

.container-sm {
    max-width: 700px;
    margin: 0 auto;
}
.hero {
    padding: 10px;
}

section[class^=section] {
    padding: 10px;

}



.col-12 {
    flex-basis: 100%;
}

.col-8 {
    flex-basis: calc((100% * 8) /12);
}

.col-4 {
    flex-basis: calc((100% * 4) /12);
}

/* FOOTER */

.col-4 {
    flex-basis: calc((100% * 4) / 12);

}

.col-2 {
    flex-basis: calc((100% * 2) / 12);

}
.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-col {
    text-align: center;

}
.footer-section-2 {
    border-top: 3px solid white;
    padding-top: 30px;
}
/* Debugs */

.main-header.debug {
    background-color: red;

}

.header-col.debug {
    background-color: yellow;
    border: dashed black 5px;
    
}

.hero.debug {
background-color: lightcoral;
}

.section-odd.debug {
background-color: blue;
}
.section-even.debug {
    background-color: green;
}

.debug[class^=col] {
    background-color: yellow;
    border: dashed black 5px;
    text-align: center;
    min-height: 200px;

}

.debug.footer-row {
    background-color: aqua;
    min-height: 100px;
}
footer.debug {
    background-color: black;
}