/* Default rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

/* Debugs */

.main-header {
    background-color: red;
}

.header-row.debug {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-col.debug {
    background-color: yellow;
    border: dashed black 5px;
    text-align: center;
    display: flex;
}

.header-row ul {
    flex-grow: 1;
}

.row.debug {
    padding: 10px ;
}
.section, .padding-10-50 {
    padding: 10px 50px ;

}
.main-odd {
background-color: blue;
}
.main-even{
    background-color: green;
}

.col.debug {
    background-color: yellow;
    border: dashed black 5px;
    text-align: center;
    min-height: 200px;

}